
mat-card{
    margin: 20px;
    width: fit-content;
}

.example-container {
    height: 400px;
    width: 850px;
    max-width: 100%;
    overflow: scroll;
    margin: auto;
  }
  
  table {
    width: 800px;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 10px;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
    align-items: center;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
    align-items: center;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }