
<div class="container">
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Vendas</mat-card-title>
        <mat-card-subtitle>Valor de vendas (SUBTOTAL_DE_PRODUTOS) mês a mês </mat-card-subtitle>
      </mat-card-header>
    <canvas id="myChart" width="400" height="400"></canvas>

</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Vendas</mat-card-title>
        <mat-card-subtitle>Quantidade de vendas mês a mês </mat-card-subtitle>
      </mat-card-header>
    <canvas id="myChart2" width="400" height="400"></canvas>
</mat-card>

