.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: block;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
    margin: 30px auto;
}

#myChart{
    max-height: 500px;
}